.productsBody {
    padding: 1rem;
}
.productInfoBody {
    .productInfoToolbar {
        display: flex;
        padding: 0.5em 0.5em 1em 0.5em;
        box-shadow: inset 0px -1px rgba(0,0,0,0.19);
        .infoCategories {
            flex-grow: 2;
            justify-content: flex-start;
            .categoryIcon {
                display: flex;
                margin: 0 1em;
                box-shadow: 0 0 2px rgba(0,0,0,0.34), 0 0 3px rgba(106, 173, 204, 0.44), 0 0 4px rgba(79, 105, 223, 0.44);
                border-radius: 50%;
                padding: 0.5em;
                &:hover {
                    i {
                        color: #1b4b72;
                        transform: scale(1) !important;
                    }
                }
            }
            .categoryTooltip {
                bottom: -45px !important;
            }
        }
        .dropdown {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
            margin-right: 1em;
            .dropdown-menu {
                .dropdown-item {
                    cursor: pointer;
                    width: 150px;
                }
                .selected {
                    color: #1b4b72;
                    background-color: #f8f9fa;
                }
            }
        }

    }
}

@media only screen and (max-width: 990px) {
    .productInfoBody {
        .infoCategories {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px 0px;
            height: auto;
            .categoryIcon {
                width: 40px;
                height: 40px;
                justify-self: end;
            }
            .allignIconStart {
                justify-self: start;
            }
        }
        .productInfoToolbar {
            display: block;
        }
        .dropdown {
            margin-top: 2em;
            margin-right: 0 !important;
            justify-content: flex-end !important;
            flex: 1;
        }
    }
}
