.pagination {
    margin-top: 3em;
    padding-top: 1em;
    box-shadow: inset 0 1px rgba(0,0,0,0.19);
    text-align: center;
    justify-content: center;
    font-size: 2em;
    .disabled {
        text-decoration: none;
        i {
            color: rgba(0,0,0,0.2);
            &:hover {
                background: rgba(105, 220, 255, 0.02);
            }
        }
    }
    .lastPage, .firstPage {
        width: 50px;
        height: 50px;
        box-shadow: 0 0 2px rgba(0, 102, 255, 0.98);
        background: rgba(126, 225, 255, 0.02);
        &:hover {
            background: rgba(151, 232, 255, 0.22);
        }
    }
    li {
        height: 100%;
        a {
           i {
               box-shadow: 0 0 2px rgba(0, 102, 255, 0.98);
               background: rgba(105, 220, 255, 0.02);
               &:hover {
                background: rgba(151, 232, 255, 0.22);
            }
               color: rgba(0,0,0,0.8);
               font-size: 1.6em;
           } 
        }
    }
    .rightPage, .leftPage {
        cursor: pointer;
        a {
            i {
                width: 50px;
                height: 50px;
            }
        }
    }
    .rightPage {
        a {
            i {
                border-radius: 0 5px 5px 0;
            }
        }
    }
    .leftPage {
        a {
            i {
                border-radius: 5px 0 0 5px;
            }
        }
    }
    #pages {
        .activePage {
            background: rgba(151, 232, 255, 0.22);
            a {
                text-decoration: unset;
                color: rgba(0,0,0,0.8);
            }
        }
        li {
            cursor: pointer;
            margin: 0 0.027em;
            box-shadow: 0 0 2px rgba(0, 102, 255, 0.98);
            background: rgba(105, 220, 255, 0.02);
            &:hover {
                background: rgba(151, 232, 255, 0.22);
            }
            width: 50px;
            height: 50px;
            padding: 0 0.4em;
            a {
                color: rgba(0,0,0,0.8);
                cursor: pointer;
            }
        }
        display: flex;
    }
    .paginationDots {
        box-shadow: 0 0 2px rgba(0, 102, 255, 0.98);
        background: rgba(105, 220, 255, 0.02);
        width: 50px;
        height: 50px;
        vertical-align: text-top;
        font-weight: 500;
        padding: 0 0.2em 0 0.2em;
    }
}

.loadingPaginationContainer {
    height: 100px;
}


.firstPage, .lastPage {
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .pagination {
        font-size: 1.5em;
        .rightPage, .leftPage {
            a {
                i {
                    width: 35px;
                    height: 35px;
                }
            }
        }
        .lastPage, .firstPage {
            width: 35px;
            height: 35px;
        }
        #pages {
            li {
                width: 35px;
                height: 35px;
            }
        }
        .paginationDots {
            width: 35px;
            height: 35px;
        }
    }
}