.registerTitle {
    font-size: 1.4em;
}
.registerSubmit {
    width: 125px;
}

.profile-pic {
    border-radius: 50% !important;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.file-upload {
    display: none;
}
.circle {
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: relative;
    border: none;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
    z-index: 10;
    font-size: 1.5em;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}

.is-invalid-picture {
    border: 1px solid $red;
}
